<manifest
    package="com.github.tcking.giraffeplayer2"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="@string/app_name"
        >
        <activity
            android:name="tcking.github.com.giraffeplayer2.PlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="fullSensor"
            />

        <service android:name="tcking.github.com.giraffeplayer2.LazyLoadManager"/>
    </application>

</manifest>
